*.gem
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
*.bundle
*.so
*.o
*.a
mkmf.log

# Ignore bundler config.
/.bundle
/vendor/bundle/
/vendor/ruby/

# Ignore all log files and tempfiles.
/log/*
!/log/.keep
/tmp

# various artifacts
**.war
*.rbc
*.sassc
.project
.secret
.rspec
.idea/
/spec/tmp/*
/cache

*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*